<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <h1>Todo List</h1>
    <h2>All Tasks</h2>
    <% for(task of tasks) { %>
        <div class="task">
            <h3 class="Title">Title : <%= task.Title %></h3>
            <h4 class="Description">Description : <%= task.Description %></h4>
            <p class="Status">Status : <%= task.Status %></p>
            <br>
            <button class="btn btn-primary"><a href="http://localhost:8080/tasks/<%= task.id %>"><i class="fas fa-eye"></i> See in Detail</a></button>
            <button><a href="http://localhost:8080/tasks/<%= task.id %>/edit"><i class="fas fa-edit"></i> Edit</a></button>
            <br>
            <form method="post" action="/tasks/<%= task.id %>?_method=DELETE">
                <button class="delete">
                    <i class="fa fa-trash"></i> Delete Task
                </button>
            </form>
            
        </div>
    <% } %>

    <div class="create-task-container">
        <button class="create"><a href="http://localhost:8080/tasks/new"><i class="fa fa-plus"></i> Add New Task</a></button>
    </div>
    
</body>
</html>